<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/admin.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="signin.html" class="focus">logout(admin)</a></li>
                </ul>
            </nav>
        </div>
        <div id="page-body">
            <div class="page-wrapper">
                <div id="content">
                    <div id="posted-meetups-container">
                        <div id="add-button">
                            <a href="create-meetup.html">   <svg>

                                        <g>
                                         <title>background</title>
                                         <rect fill="none" id="canvas_background" height="402" width="582" y="-1" x="-1"/>
                                        </g>
                                        <g>
                                         <title>New meetup</title>
                                         <path fill="#black" id="svg_1" d="m28,14l-10,0l0,-10c0,-1.104 -0.896,-2 -2,-2s-2,0.896 -2,2l0,10l-10,0c-1.104,0 -2,0.896 -2,2s0.896,2 2,2l10,0l0,10c0,1.104 0.896,2 2,2s2,-0.896 2,-2l0,-10l10,0c1.104,0 2,-0.896 2,-2s-0.896,-2 -2,-2z"/>
                                        </g>
                                       </svg></a> 
                        </div>
                        <div id="posted-meetups-title">Posted meetups</div>
                        <ul>
                            <div class="meetup-container">
                                <li class="list-item"><a href="#">flutter study jam, strathmore gdg</a>
                                    <div class="delete-meetup">
                                        <div class="delete-icon">
                                            <svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1"
                                                viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #242729;
                                                    }
                                                </style>
                                                <g>
                                                    <g id="Icon-Trash" transform="translate(232.000000, 228.000000)">
                                                        <polygon class="st0" id="Fill-6" points="-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-7" points="-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-8" points="-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-9" points="-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1    " />
                                                        <path class="st0" d="M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3     c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6"
                                                            id="Fill-10" />
                                                        <path class="st0" d="M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18     c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1"
                                                            id="Fill-11" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </li>

                            </div>
                            <div class="meetup-container">
                                <li class="list-item"><a href="#">flutter study jam, strathmore gdg</a>
                                    <div class="delete-meetup">
                                        <div class="delete-icon">
                                            <svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1"
                                                viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #242729;
                                                    }
                                                </style>
                                                <g>
                                                    <g id="Icon-Trash" transform="translate(232.000000, 228.000000)">
                                                        <polygon class="st0" id="Fill-6" points="-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-7" points="-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-8" points="-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-9" points="-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1    " />
                                                        <path class="st0" d="M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3     c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6"
                                                            id="Fill-10" />
                                                        <path class="st0" d="M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18     c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1"
                                                            id="Fill-11" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </li>

                            </div>
                            <div class="meetup-container">
                                <li class="list-item"><a href="#">flutter study jam, strathmore gdg</a>
                                    <div class="delete-meetup">
                                        <div class="delete-icon">
                                            <svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1"
                                                viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #242729;
                                                    }
                                                </style>
                                                <g>
                                                    <g id="Icon-Trash" transform="translate(232.000000, 228.000000)">
                                                        <polygon class="st0" id="Fill-6" points="-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-7" points="-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-8" points="-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-9" points="-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1    " />
                                                        <path class="st0" d="M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3     c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6"
                                                            id="Fill-10" />
                                                        <path class="st0" d="M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18     c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1"
                                                            id="Fill-11" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </li>

                            </div>
                            <div class="meetup-container">
                                <li class="list-item"><a href="#">flutter study jam, strathmore gdg</a>
                                    <div class="delete-meetup">
                                        <div class="delete-icon">
                                            <svg id="Layer_1" style="enable-background:new 0 0 64 64;" version="1.1"
                                                viewBox="0 0 64 64" xml:space="preserve" xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <style type="text/css">
                                                    .st0 {
                                                        fill: #242729;
                                                    }
                                                </style>
                                                <g>
                                                    <g id="Icon-Trash" transform="translate(232.000000, 228.000000)">
                                                        <polygon class="st0" id="Fill-6" points="-207.5,-205.1 -204.5,-205.1 -204.5,-181.1 -207.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-7" points="-201.5,-205.1 -198.5,-205.1 -198.5,-181.1 -201.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-8" points="-195.5,-205.1 -192.5,-205.1 -192.5,-181.1 -195.5,-181.1    " />
                                                        <polygon class="st0" id="Fill-9" points="-219.5,-214.1 -180.5,-214.1 -180.5,-211.1 -219.5,-211.1    " />
                                                        <path class="st0" d="M-192.6-212.6h-2.8v-3c0-0.9-0.7-1.6-1.6-1.6h-6c-0.9,0-1.6,0.7-1.6,1.6v3h-2.8v-3     c0-2.4,2-4.4,4.4-4.4h6c2.4,0,4.4,2,4.4,4.4V-212.6"
                                                            id="Fill-10" />
                                                        <path class="st0" d="M-191-172.1h-18c-2.4,0-4.5-2-4.7-4.4l-2.8-36l3-0.2l2.8,36c0.1,0.9,0.9,1.6,1.7,1.6h18     c0.9,0,1.7-0.8,1.7-1.6l2.8-36l3,0.2l-2.8,36C-186.5-174-188.6-172.1-191-172.1"
                                                            id="Fill-11" />
                                                    </g>
                                                </g>
                                            </svg>
                                        </div>
                                    </div>
                                </li>

                            </div>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html>