<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questioner</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="body-box">
        <div>
            <div id="header">
                <logo id="top-logo" class="logo"><p>Questioner</p></logo>
                <nav>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Admin</a></li>
                        <li><a href="#" class="focus">Login</a></li>
                        <li><a href="#" class="focus">Signup</a></li>
                        
                    </ul>
                </nav>
                </nav>
            </div>
        </div>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, consequuntur veritatis. Sed maxime consequatur rem sint dignissimos amet quis atque quasi fuga dicta? Rerum perspiciatis alias maxime, consequatur neque ipsa!
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis quo distinctio pariatur sit itaque qui vel numquam accusamus fugit dolor consequatur, id ex nihil asperiores, odit, reiciendis ipsam mollitia aliquid!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio dolorem debitis eaque sequi explicabo? Fuga, corrupti incidunt maxime aut vel libero, est sed id explicabo quos accusamus unde nulla atque!
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima perferendis rem minus consectetur quaerat officiis reprehenderit? Blanditiis qui modi natus alias fugiat tenetur, fugit ratione veniam, possimus soluta consequatur delectus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi tenetur perspiciatis in facilis odit fugiat sit, repudiandae possimus quasi a dolores soluta vitae quod minus molestias blanditiis? Doloribus, at commodi.
        </p>
    </div>
    <script src="../static/main.js"></script>
</body>

</html>