<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questioner</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
    <div class="body-box">
        <div class="container">
            <div class="top-container">
                <div id="header">
                    <logo id="top-logo" class="logo">
                        <p>Questioner</p>
                    </logo>
                    <nav>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Admin</a></li>
                            <li><a href="#" class="focus">Login</a></li>
                            <li><a href="#" class="focus">Signup</a></li>

                        </ul>
                    </nav>
                </div>
                <div id="background-image">
                    <div id="site-spec">
                        <div id="site-slogan">
                            <h1>Crowd-source questions for a meetup</h1>
                        </div>
                        <div id="signup-btn">
                            <a href="#">Signup</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content">
                <div class="card-container">
                    <div class="card">
                        <div class="in-card">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="../static/main.js"></script>
</body>

</html>