<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <title>Questioner</title>
</head>

<body>
<div class="body-box">
        <div id="header" class="header-background">
                <logo id="top-logo" class="logo">
                    <p>Questioner</p>
                </logo>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Admin</a></li>
                        <li><a href="signin.html" class="focus">Login</a></li>
    
    
                    </ul>
                </nav>
            </div>
</div>
</body>

</html>