<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signin.html" class="focus">Login</a></li>


                </ul>
            </nav>
        </div>
        <div class="page-body">
            <div class="page-wrapper">
                <div id="profile-section">
                    <div id="profile-info">
                        <div class="page-title">Profile Information</div>
                    </div>
                    <div class="box-container">
                        <div id="left-box">
                           <div class="box-content">
                                <div id="details-box">
                                        <div class="box-title">
                                            Personal Details
                                        </div>
                                        <div class="details">
                                            <div id="email-details">
                                                <div id="email">
                                                    Account Email Address
                                                </div>
                                                <div id="my-email">
                                                    misochobrian@gmail.com
                                                </div>
                                                <div id="change-pass">
                                                    <a href="#" class="focus">
                                                        Change Password
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           </div>
                        </div>
                        <div id="right-box">
                           <div class="box-content">
                                <div id="details-box">
                                        <div class="box-title">
                                            Site Details
                                        </div>
                                        <div class="details">
                                            <div id="questions-asked">
                                                <div id="questions">
                                                    Number of questions asked
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>