<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/profile.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signin.html" class="focus">Login</a></li>
                    <li><a href="signup.html" class="focus">Signup</a></li>


                </ul>
            </nav>
        </div>
        <div class="page-body">
            <div class="page-wrapper">
                <div id="profile-section">
                    <div id="profile-info">
                        <div class="page-title">Profile Information</div>
                    </div>
                    <div class="box-container">
                        <div id="left-box">
                            <div class="box-content">
                                <div id="details-box">
                                    <div class="box-title">
                                        Personal Details
                                    </div>
                                    <div class="details">
                                        <div id="user-details">
                                            <div class="sub-title">
                                                Account Email Address
                                            </div>
                                            <div id="user">
                                                john254@gmail.com
                                            </div>
                                            <div class="sub-title">
                                                Account Name
                                            </div>
                                            <div id="user">
                                                John DOe
                                            </div>
                                            <div class="sub-title">
                                                Account Username
                                            </div>
                                            <div id="user">
                                                JohndOe
                                            </div>
                                        </div>
                                        <div id="change-pass">
                                            <a href="#" class="focus">
                                                Change Password
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="right-box">
                            <div class="box-content">
                                <div id="details-box">
                                    <div class="box-title">
                                        Site Details
                                    </div>
                                    <div class="details">
                                        <div class="space-content">
                                            <div class="min-content">

                                                <div class="sub-title">
                                                    Number of questions asked: <span class="my-count">25</span>

                                                </div>


                                            </div>
                                        </div>
                                        <div class="min-content">
                                            <div class="sub-title">
                                                Number of comments posted: <span class="my-count">25</span>

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <div id="bottom-section">
                    <div id="questions-section">
                            <div class="page-title">Top Questions</div>
                            <div class="questions">
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                            <div class="meetup">
                                               <a href="#">Flutter study jam.</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="q-list">
                                        <div class="q-summary">
                                            <div class="count">
                                                <div class="side-count">
                                                    <div class="total-counts">
                                                        <span title="votes">25</span>
                                                    </div>
                                                    <div>Votes</div>
                                                </div>
                                            </div>
                                            <div class="summary">
                                                <a href="#" class="question">
                                                    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                                </a>
                                                <div class="meetup">
                                                   <a href="#">Flutter study jam.</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="q-list">
                                            <div class="q-summary">
                                                <div class="count">
                                                    <div class="side-count">
                                                        <div class="total-counts">
                                                            <span title="votes">20</span>
                                                        </div>
                                                        <div>Votes</div>
                                                    </div>
                                                </div>
                                                <div class="summary">
                                                    <a href="#" class="question">
                                                        <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                                    </a>
                                                    <div class="meetup">
                                                       <a href="#">Anime lovers meetup</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="q-list">
                                                <div class="q-summary">
                                                    <div class="count">
                                                        <div class="side-count">
                                                            <div class="total-counts">
                                                                <span title="votes">18</span>
                                                            </div>
                                                            <div>Votes</div>
                                                        </div>
                                                    </div>
                                                    <div class="summary">
                                                        <a href="#" class="question">
                                                            <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                                        </a>
                                                        <div class="meetup">
                                                           <a href="#">Nairobi tech conference</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                               
                            </div>
                        </div>
                        <div id="upcoming-meetups">
                                <div id="meetups-box">
                                    <div id="meetups-title" class="box-title">
                                        Scheduled meetups
                                    </div>
                                    <div id="meetups-container">
                                        <div class="meetup-text">
                                            <a href="#">Flutter study jam strathmore</a>
                                        </div>
                                        <div class="meetup-text">
                                                <a href="#">Anime lovers meetup</a>
                                            </div>
                                            <div class="meetup-text">
                                                    <a href="#">Nairobi tech conference</a>
                                                </div>
                                    </div>
                                </div>
                        </div>
            </div>
            </div>

        </div>
    </div>
    </div>
</body>

</html>