<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/questions.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signin.html" class="focus">login</a></li>
                    <li><a href="signup.html" class="focus">signup</a></li>


                </ul>
            </nav>
        </div>
        <div id="page-body">
            <div class="page-wrapper">
                <div id="content">

                    <div id="top-content">
                        <div id="meetup-image">
                            <div id="side-image"></div>
                        </div>
                        <div id="meetup-details">
                            <div id="meetup-content">
                                <div id="meetup-date">
                                    <div class="month">Jan</div>
                                    <div class="date">5</div>
                                </div>
                                <div id="more-meetup-details">
                                    <div id="meetup-title">
                                        Flutter study jam strathmore nairobi
                                    </div>
                                    <div id="meetup-by">
                                        by <span id="host-name">Strathmore GDG</span>
                                    </div>
                                </div>
                                <div id="attending">
                                    <div class="button">
                                        <input class="btn" type="button" name="" value="Schedule">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="bottom-content">
                        <div id="questions-section">
                            <div id="question-title">
                                Questions
                            </div>
                            <div id="ask-question">
                                <textarea name="" id="ask-textarea" placeholder="Ask question here"></textarea>
                                <div id="post-button">
                                    <button class="btn" id="post-btn">
                                        Post
                                    </button>
                                </div>
                            </div>

                            <div>
                                <hr class="line">
                            </div>
                            <div id="question-list">
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
                                                    deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                            <div class="like">
                                                <button class="like-btn">
                                                    <?xml version="1.0" ?>
                                                   <svg
                                                        enable-background="new 0 0 32 32" height="32px" id="Layer_1"
                                                        version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve"
                                                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <g>
                                                            <polyline fill="none" points="   649,137.999 675,137.999 675,155.999 661,155.999  "
                                                                stroke="#FFFFFF" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="2" />
                                                            <polyline fill="none" points="   653,155.999 649,155.999 649,141.999  "
                                                                stroke="#FFFFFF" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="2" />
                                                            <polyline fill="none" points="   661,156 653,162 653,156  "
                                                                stroke="#FFFFFF" stroke-linecap="round"
                                                                stroke-linejoin="round" stroke-miterlimit="10"
                                                                stroke-width="2" />
                                                        </g>
                                                        <g>
                                                            <g>
                                                                <path d="M16,30c-0.215,0-0.43-0.069-0.61-0.207C14.844,29.372,2,19.396,2,11c0-4.411,3.589-8,8-8s8,3.589,8,8c0,0.552-0.447,1-1,1    c-0.552,0-1-0.448-1-1c0-3.309-2.691-6-6-6s-6,2.691-6,6c0,6.467,9.477,14.653,12,16.719C18.522,25.653,28,17.46,28,11    c0-3.309-2.691-6-6-6c-0.895,0-1.756,0.192-2.559,0.57c-0.5,0.236-1.097,0.021-1.331-0.478c-0.235-0.5-0.021-1.095,0.478-1.331    C19.66,3.256,20.808,3,22,3c4.411,0,8,3.589,8,8c0,8.396-12.844,18.372-13.39,18.793C16.43,29.931,16.215,30,16,30z" />
                                                            </g>
                                                        </g>
                                                    </svg></button>
                                            </div>
                                            <div class="comments-box">
                                                <button class="comment">comment
                                                </button>
                                                <a href="#" class="comments">comments<span> 3</span></a>

                                                
                                                <div class="comment-box">
                                                    <div class="comment-area">
                                                        <textarea name="" class="comment-textarea" placeholder="Comment here"></textarea>

                                                    </div>
                                                    <div class="send-icon">
                                                        <img class="send-img" src="../images/send.svg">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>