<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/questions.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signin.html" class="focus">Logout</a></li>


                </ul>
            </nav>
        </div>
        <div id="page-body">
            <div class="page-wrapper">
                <div id="content">

                    <div id="top-content">
                        <div id="meetup-image">
                            <div id="side-image"></div>
                        </div>
                        <div id="meetup-details">
                            <div id="meetup-content">
                                <div id="meetup-date">
                                    <div class="month">Jan</div>
                                    <div class="date">5</div>
                                </div>
                                <div id="more-meetup-details">
                                    <div id="meetup-title">
                                        Flutter study jam strathmore nairobi
                                    </div>
                                    <div id="meetup-by">
                                        by <span id="host-name">Strathmore GDG</span>
                                    </div>
                                </div>
                                <div id="attending">
                                    <div class="button">
                                        <input class="btn" type="button" name="" value="Schedule">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div id="bottom-content">
                        <div id="questions-section">
                            <div id="question-title">
                                Questions
                            </div>
                            <div id="ask-question">
                                <textarea name="" id="ask-textarea" placeholder="Ask question here"></textarea>
                                <div id="post-button">
                                <button class="btn" id="post-btn">
                                   Post 
                                </button>
                            </div>
                            </div>
                            
                            <div>
                                <hr class="line">
                            </div>
                            <div id="question-list">
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
                                                    deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
                                                    deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
                                                    deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="q-list">
                                    <div class="q-summary">
                                        <div class="count">
                                            <div class="side-count">
                                                <div class="total-counts">
                                                    <span title="votes">30</span>
                                                </div>
                                                <div>Votes</div>
                                            </div>
                                        </div>
                                        <div class="summary">
                                            <a href="#" class="question">
                                                <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae
                                                    deserunt veritatis molestiae magni nobis voluptatum aperiam.</h3>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>