<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/questions.css">
    <title>Questioner</title>
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="admin.html">Admin</a></li>
                    <li><a href="signin.html" class="focus">login</a></li>
                    <li><a href="signup.html" class="focus">signup</a></li>


                </ul>
            </nav>
        </div>
        <div id="page-body">
            <div class="page-wrapper">
                <div id="content">

                    <div id="top-content">
                        <div id="meetup-image">
                            <div id="side-image"></div>
                        </div>
                        <div id="meetup-details">


                        </div>
                    </div>
                    <div id="bottom-content">
                        <div id="questions-section">
                            <div class="question-content">
                            <div id="question-title">
                                Questions
                            </div>
                            <div class="ask-question">
                                <label for="title-textarea"> Title </label>
                                <input type="text" id="title-textarea" class="ask-textarea">
                            </div>

                            <div class="ask-question">
                                <label for="description-textarea"> Description </label>
                                <textarea name="" class="ask-textarea" id="description-textarea"></textarea>

                            </div>

                            <div id="post-button">
                                <button class="btn" id="post-btn">
                                    Post
                                </button>
                            </div>
                        </div>
                    </div>
                        <div>
                            <hr class="line">
                        </div>
                        <div id="question-list">
                            




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src='../static/questions.js'></script>
    <script src='../static/post_question.js'></script>
</body>

</html>