<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/signup-in.css">
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signup.html" class="focus">Signup</a></li>


                </ul>
            </nav>
        </div>
        <div class="page-body">
            <div class="page-wrapper">
                <div class="main-structure">
                    <div>
                        <div class="welcome-text">Hi!</div>
                        <div class="page-text">Signin</div>
                    </div>
                    <div class="main-form">
                        <form>
                            <div class="textbox" class="email-textbox">
                                <input type="text" placeholder="Email" name="" value="" autofocus>
                            </div>

                            <div class="textbox">
                                <input type="password" placeholder="Password" name="" value="">
                            </div>

                    </div>
                    <div class="account page-text">
                        Don't have an account? <a href="">Signup</a>
                    </div>
                    <div class="button">
                        <input class="signup-btn" type="button" name="" value="Signin">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>