<!DOCTYPE html>
<html lang="en">

<head>
    <title>Questioner</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" type="text/css" href="../static/signup-in.css">
</head>

<body>
    <div class="body-box">
        <div id="header" class="header-background">
            <logo id="top-logo" class="logo">
                <p>Questioner</p>
            </logo>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="profile.html">Profile</a></li>
                    <li><a href="#">Admin</a></li>
                    <li><a href="signin.html" class="focus">Login</a></li>


                </ul>
            </nav>
        </div>
        <div class="page-body">
            <div class="page-wrapper">
                <div class="main-structure">
                    <div>
                        <div class="welcome-text">Welcome</div>
                        <div class="page-text">Create Account</div>
                    </div>
                    <div class="main-form">
                        <form>
                            <div class="textbox" class="email-textbox">
                                <input type="text" placeholder="Email" name="" value="" autofocus>
                            </div>
                            <div id="names-box">
                                <div id="left">
                                    <div class="firstname">
                                        <div class="textbox">
                                            <input type="text" placeholder="Firstname" name="" value="" autofocus>
                                        </div>
                                    </div>
                                </div>
                                <div id="right">
                                    <div class="second-name">
                                        <div class="textbox">
                                            <input type="text" placeholder="Lastname" name="" value="" autofocus>
                                        </div>
                                    </div>
                                </div>
                                <div class="textbox">
                                    <input type="text" placeholder="Username" name="" value="" autofocus>
                                </div>
                                <div class="textbox">
                                    <input type="password" placeholder="Password" name="" value="">
                                </div>

                                <div class="textbox">
                                    <input type="password" placeholder="Confirm Password" name="" value="">
                                </div>
                            </div>
                    </div>
                    <div class="account page-text">
                        Already have an account? <a href="signin.html">Login</a>
                    </div>
                    <div class="button">
                        <input class="signup-btn" type="button" name="" value="Create Account">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>