@font-face{
    font-family: Quicksand;
    src: url(../fonts/quicksand.book-regular.otf);
}

@font-face{
    font-family: Quicksand;
    src: url(../fonts/quicksand.bold-regular.otf);
    font-weight: bold;
}

#page-body{
    padding-top: 100px;
}

.page-wrapper{
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    height: max-content;
    text-align: center;
}

#content{
    display: inline-block;
    height: 100%;
    width: 80%;
    margin: 30px;
    border-radius: 6px; 
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
    transition:box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
}

#top-content{
    height: 360px;
    width: 100%;
}

#meetup-image{
    width: 66.67%;
    height: 100%;
    float: left;
}


#side-image{
    border-top-left-radius: 6px;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#meetup-details{
    width: 33.33%;
    height: 100%;
    float: left;
}

#meetup-content{
    padding: 10px;
    height: 100%;
    margin-left: 10px;
    text-align:left;
    font-weight: 600;
    font-size: 1.5em;
}

#meetup-date{
    display: inline-block;
    padding: 10px;
    text-align: center;
}

#meetup-title{
    text-decoration: none;
    text-transform: capitalize;
}

#meetup-by{
    color: #6F7287;
    font-size: 15px;
    margin-top: 15px;
    padding: 10px;
    text-decoration: none;
}

#meetup-by:hover{
    text-decoration: #6F7287 solid 1px;
}
#host-name{
    text-transform: capitalize;
}

.button{
    padding: 15px;
    margin: 0;
    cursor: pointer;
}

.btn{
    padding: 10px;
    background: #d13239;
    font-size: 1rem;
    color: #f4f4f4;
    border: #d13239 solid 3px;
    border-radius: 6px;
    width: 100%;
    cursor: pointer;
}
 .btn:hover{
     opacity: 0.85;
 }

#attending{
    bottom: 0px;
    margin-top: 110px;
}

#bottom-content{
    margin: 20px;
    margin-top: 50px;
    text-align: center;
}

#questions-section{
    width: 90%;
    display: inline-block;
}

.questions-content{
    width: 100%;
    display: inline-block;
}
.line{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin: 20px 0;
}
#question-title{
    font-size: 1.8em;
    font-weight: 600;
    padding: 15px;
    font-family: Quicksand;
    color: #242729;
}

.q-list{
    overflow: auto;
    margin-bottom: 30px;
    padding: 0 50px;
}

.summary{
    text-align: justify;
}

.question-description{
    color: #6F7287;
    font-size: 1em;
    margin-top: 15px;
    padding: 10px 0;
    text-decoration: none;
    font-weight: 600;
}

.q-summary{
    overflow: hidden;
    border-bottom: 1px solid #0a0a0a2f;
    display: flex;
    padding: 12px 30px;
    float: none;
}

.count{
    padding-top: 13px;
    padding-right: 10px;
    padding-bottom: 13px;
    padding-left: 10px;
    margin-right: 20px;
}

.side-count{
    text-align: center;
    color: #d13239;
    display: inline-block;
    margin: 0 3px 0 0;
    min-width: 44px;
    height: auto;
    font-size: 11px;
    padding: 6px;
    border: 1px solid #d13239;
    font-weight: 500;
    border-radius: 3px;
}

.total-counts{
    font-size: 17px;
    font-weight: 500;
    color: #d13239;
    margin-bottom: 4px;
}

.question{
    text-decoration: none;
    color: #242729;
    text-align: justify;
}
.ask-question{
    margin: 10px;
}
.ask-textarea{
    padding: 10px;
    border: none;
    resize: none;
    font-family: Quicksand;
    width: 100%;
    overflow-wrap: break-word;
    position: relative;
    font-size: 16px;
    background: transparent;
    line-height: 20px;
    outline: none;
}

label {
    float: left;
    padding: 0 10px;
    font-size: 1.0em;
    font-weight: 600;
}

.ask-textarea{
    border-bottom: 2px solid #6f7287;
}

.ask-textarea:focus{
    border-bottom: 2px solid #d13239;
    outline: none !important;
    transition: .3s;
}
#post-button{
    margin:10px;
    text-align: right;
    width: auto;
    display: none;
}

#post-btn{
    width: auto;
}

.comments{
    font-size: 12px;
    font-family: Quicksand;
    float: right;
    padding: 1px 0;
    height: 15px;
    text-align: center;
    margin: 1px 0;
    font-weight: bold;
}

.comments a{
    text-decoration: none;
    color: rgba(111, 114, 135, 0.507);
}

.comment{
    font-family:Quicksand;
    background: transparent;
    border: none;
    outline: none;
}

.comment:hover{
    cursor: pointer;
    color: #d13239;
}
.comment-box{
    margin-top: 10px;
    display: flex;
    border-radius: 16px;
    background: #fff
}
.comment-area{
    width: 80%;
    float: left;
    padding: 8px 15px;
}

.comment-textarea{
    height: 25px;
    width: 100%;
    border: none;
    float: left;
    overflow: hidden;
    overflow-wrap: break-word;
    position: relative;
    font-family: Quicksand;
    background: transparent;
    outline: none;
    resize: none;
    padding: 0;
    line-height: 20px;
}

.send-icon{
    height: auto;
    width: 50px;
    margin-top: 5px;
    margin-left: 30px;
}

.send-img:hover{
    cursor: pointer;
    fill: #d13239
    
}

.like-btn{
    background: none;
    border: none;
}

#Layer_1{
    fill: #6F7287;
}

#Layer_1:hover{
    fill: #d13239;
    cursor: pointer;
}
.comments-box{
    margin-top: 10px;
}

