.page-body{
    padding-top: 150px;
}

.page-wrapper{
    position: relative;
    padding-right: 40px;
    padding-left: 40px;
    margin-right: auto;
    margin-left: auto;
    height: max-content;
    text-align: center;
}

.main-structure{
    display: inline-block;
    height: 100%;
    width: 319px;
}

.welcome-text{
    font-size: 1.8em;
    font-weight: 600;
    padding: 15px;
    font-family: Quicksand;
    color: #242729;
    display: inline-block;
}

.create-account-text{
    color: #6f7287;
    font-size: 1rem;
    font-weight: 550;
    padding-bottom: 10px;
}

.textbox{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding-bottom: 0;
    padding-top: 10px;
    margin: 10px 0;
    border-bottom: 1px solid #d13239;
}

.textbox input{
    font-family: Quicksand;
    text-align: none;
    border: none;
    outline: none;
    color: black;
    font-size: 18px;
    width: 100%;
    margin: 8px;
    margin-bottom: 0;
    background: transparent;
}

#left{
    width: 50%;
    float: left;
}

#right{
    width: 50%;
    float: left;
}

.firstname{
    padding-right: 10px;
}

.lastname{
    padding-left: 10px;
}